/*HEADERNAVBAR*/
.navBar {
  height: 8rem;
}

.blog-dropdown {

  color:black;
}
.header-button {
  box-shadow: black 1px 1px 2px;
}

.header-link {
  font-size: 2rem;
}

.logo {
  height: 5rem;
  width: 5rem;
}

/*FOOTERNAVBAR*/
.footer {
  height: 6rem;
}

/*HOMEPAGE*/
.card-group {
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.card-text {
  text-align: left;
}

/*ABOUTPAGE*/
.about-container {
  background-image: url("https://media.cntraveler.com/photos/5e73966a1185400008f5b3a0/master/w_4220,h_3125,c_limit/Library%20of%20El%20Escorial%20RJ455F.jpg");
  background-size: cover;
  padding-bottom: 5%;
}

.about-image {
  height: 20rem;
  width: 20rem;
  border: 0.3rem solid rgb(243, 200, 83);
  border-style: double;
  box-shadow: black -1px 1px 7px 3px;
  margin-top: 10%;
}

.bio-container {
  border: 1px black solid;
  border-image: url("//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/frame.png") 93
    92 87 92 stretch stretch;
  border-color: #f4be52;
  border-style: inset;
  border-width: 5rem;
  background-color: #ffe;
  box-shadow: black -4px 4px 8px 2px;
  margin-top: 5%;
}

/*BLOGS*/
.blog-section-container {
  padding-bottom: 5%;
}

.comment-section {
  border: 1px black solid;
  height: 20rem;
  margin: auto;
  margin-top: 5rem;
}

.blog-author-name {
  display: block;
}

.blog-circle-avatar {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}

.blog-description {
  text-align: center;
}

.blog-image {
  height: 40rem;
  width: 40rem;
}

.date-published-text {
  font-family: "Courier New", Courier, monospace;
}

.blog-text {
  margin-top: 6%;
  font-family: monospace;
  word-spacing: 5px;
}

/*CONTACTPAGE*/
.contact-page {
  background-color: rgb(130, 130, 130);
}

.contact-card {
  height: 38rem;
  width: 32.5rem;
  margin: auto;
  background-color: white;
  border-radius: 2%;
}

/*ERRORPAGE*/
.error-text {
  text-align: center;
  color: white;
}

.error-page {
  background-image: url(./assets/404.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 40rem;
}
